/* position */
/* static */
/* fixed */
/* relative */
/* absolute */
.test {
    width: 50px;
    height: 50px;
    background: orange;
    position: static;
    top: 40px;
    left: 40px;
    bottom: 40px;
}

.height_p {
    height: 800px;
}

.rect {
    width: 150px;
    height: 150px;
    margin: 50px;
    /* border: 1px solid black; */
    position: fixed;
}

.sq {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    background: lime;
}

.p1 {
    top: 0px;
    left: 50px;
}
.p2 {
    top: 50px;
    left: 0px;
    background: olive;
    
}
.p3 {
    top: 50px;
    left: 100px;
    background: olive;
}
.p4 {
    top: 100px;
    left: 50px;
}